# Example environment file

OKTA_BASE_URL=https://your-org.okta.com
OKTA_API_TOKEN=changeme
OKTA_SCIM_GROUP_ID=00gxxxxxxxx

OP_SCIM_BASE_URL=https://your-scim-bridge/scim
OP_SCIM_BEARER_TOKEN=changeme
OP_ACCOUNT=youraccount.b5test.eu
